<nav class="navbar navbar-flatbnb navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img [src]="logoPath" alt="Flatbnb Logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Explorar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Listas de deseos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Viajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mensajes</a>
                </li>
                <!-- Opciones según rol -->
                <li class="nav-item" *ngIf="userRole === 'ADMIN'">
                    <a class="nav-link" [routerLink]="['/admin', userId]">Panel de administración</a>
                </li>
                <li class="nav-item" *ngIf="userRole === 'PROPIETARIO'">
                    <a class="nav-link" [routerLink]="['/propietario/', userId]">Mis anuncios</a>
                </li>
                <li class="nav-item" *ngIf="userRole === 'PROPIETARIO'">
                    <a class="nav-link" [routerLink]="['/propietario-pisos/', userId]">Mis pisos</a>
                </li>
                <li class="nav-item" *ngIf="userRole === 'USER'">
                    <a class="nav-link" [routerLink]="['/reservas', userId]">Mis reservas</a>
                </li>
            </ul>
            <form class="d-flex align-items-center" role="search">
                <ng-container *ngIf="!isLoggedIn(); else logged">
                    <a href="/register" class="btn btn-danger">Registrarse</a>
                    <a href="/login" class="btn btn-danger ms-2">Iniciar sesión</a>
                </ng-container>
                <ng-template #logged>
                    <a href="#" class="btn btn-danger">Mi perfil</a>
                    <button type="button" class="btn btn-danger ms-2" (click)="logout()">Cerrar sesión</button>
                </ng-template>
            </form>
        </div>
    </div>
</nav>